<!--
 * @Author       : Lucifer
 * @Date         : 2022-11-25 07:32:23
 * @LastEditTime : 2022-11-28 19:37:27
 * @FilePath     : \blog\app\index\view\about\index.html
-->
{include file='public/header'/}



<div class="row">
  <!-- 文章列表 -->
  <div class="col-12">

    <article class="lyear-arc">
      <div class="lyear-arc-detail">
        <h5 class="text-center mt-0 mb-3 pb-3">关于本站</h5>
        <p>博客采用Think PHP6 + 光年后台模板(V4) + 光年博客模板所开发出来的一款轻量级博客系统。</p>

        <p class="text-info">本博客搭建于{$middle.system.upload_time}</p>

        <p>{$middle.system.about}</p>

        <h6><strong>特别鸣谢（排名不分前后）</strong></h6>
        <ul>
          <li>光年后台模板</li>
          <li>光年博客模板</li>
          <li>Think PHP6</li>
          <li>Bootstrap</li>
          <li>JQuery</li>
          <li>Material Design Icons</li>
          <li>highlight</li>
          <li>tinymce</li>
        </ul>
      </div>
    </article>

  </div>
  <!-- 内容 end -->
</div>

</div>
<!-- end container -->
</section>
</div>
<script type="text/javascript" src="/__IJS__/jquery.min.js"></script>
<script type="text/javascript" src="/__IJS__/jquery.nicescroll.min.js"></script>
<script type="text/javascript" src="/__IJS__/bootstrap.min.js"></script>
<script type="text/javascript" src="/__IJS__/main.min.js"></script>
<script type="text/javascript" src="/__JS__/bootstrap-notify.min.js"></script>
<script type="text/javascript" src="/__JS__/app.min.js"></script>
</body>

</html>