<!--
 * @Author       : Lucifer
 * @Date         : 2022-11-13 13:58:44
 * @LastEditTime : 2022-11-26 20:54:12
 * @FilePath     : \blog\app\admin\view\public\footer.html
-->

</div>

</main>
<!--End 页面主要内容-->
</div>
</div>

<script type="text/javascript" src="/__JS__/jquery.min.js"></script>
<script type="text/javascript" src="/__JS__/popper.min.js"></script>
<script type="text/javascript" src="/__JS__/bootstrap.min.js"></script>
<script type="text/javascript" src="/__JS__/perfect-scrollbar.min.js"></script>
<script type="text/javascript" src="/__JS__/jquery.cookie.min.js"></script>
<script type="text/javascript" src="/__JS__/jquery-confirm/jquery-confirm.min.js"></script>
<script type="text/javascript" src="/__JS__/bootstrap-table/bootstrap-table.min.js"></script>
<script type="text/javascript" src="/__JS__/bootstrap-table/locale/bootstrap-table-zh-CN.min.js"></script>
<script type="text/javascript" src="/__JS__/jquery-tagsinput/jquery.tagsinput.min.js"></script>
<script type="text/javascript" src="/__JS__/main.min.js"></script>
<script type="text/javascript" src="/__JS__/Chart.min.js"></script>
<script type="text/javascript" src="/__JS__/bootstrap-notify.min.js"></script>
<script type="text/javascript" src="/__JS__/app.min.js"></script>


</body>

</html>