<!--
 * @Author       : Lucifer
 * @Date         : 2022-11-18 11:40:31
 * @LastEditTime : 2022-11-26 20:30:05
 * @FilePath     : \blog\app\admin\view\retrieve\index.html
-->
<!--
 * @Author       : Lucifer
 * @Date         : 2022-11-13 15:06:43
 * @LastEditTime : 2022-11-13 16:49:30
 * @FilePath     : \personal\app\admin\view\visit\index.html
-->
{include file='public/header'/}

<div class="row">
    <div class="col-lg-12">
        <div class="card">
            <header class="card-header">
                <div class="card-title">文章列表</div>
            </header>
            <div class="card-body">
                <div class="alert alert-success" role="alert">
                    在此页面删除的数据将永久无法恢复，本页面显示的数据均为已被删除(软删除，此功能是为了防止失误操作)可以恢复到被删除前的状态。
                </div>
                <div id="toolbar" class="toolbar-btn-action">

                </div>
                <table id="tb_departments"></table>
            </div>
        </div>
    </div>
</div>



{include file='public/footer'/}
<script type="text/javascript">
    $('#tb_departments').bootstrapTable({
        classes: 'table table-bordered table-hover table-striped',
        url: '{:url("art_res")}',
        method: 'get',
        dataType: 'json',        // 因为本示例中是跨域的调用,所以涉及到ajax都采用jsonp,
        uniqueId: 'id',
        idField: 'id',             // 每行的唯一标识字段
        toolbar: '#toolbar',       // 工具按钮容器
        clickToSelect: true,     // 是否启用点击选中行
        showColumns: true,         // 是否显示所有的列
        showRefresh: true,         // 是否显示刷新按钮

        showToggle: true,        // 是否显示详细视图和列表视图的切换按钮(clickToSelect同时设置为true时点击会报错)

        pagination: true,                    // 是否显示分页
        sortOrder: "desc",                    // 排序方式
        queryParams: function (params) {
            var temp = {
                limit: params.limit,         // 每页数据量
                offset: params.offset,       // sql语句起始索引
                page: (params.offset / params.limit) + 1,
                sort: params.sort,           // 排序的列名
                sortOrder: params.order      // 排序方式'asc' 'desc'
            };
            return temp;
        },                                   // 传递参数
        sidePagination: "client",            // 分页方式：client客户端分页，server服务端分页
        pageNumber: 1,                       // 初始化加载第一页，默认第一页
        pageSize: 10,                        // 每页的记录行数
        pageList: [10, 25, 50, 100],         // 可供选择的每页的行数
        search: true,                      // 是否显示表格搜索，此搜索是客户端搜索

        //showExport: true,        // 是否显示导出按钮, 导出功能需要导出插件支持(tableexport.min.js)
        //exportDataType: "basic", // 导出数据类型, 'basic':当前页, 'all':所有数据, 'selected':选中的数据

        columns: [{
            field: 'example',
            checkbox: true    // 是否显示复选框
        }, {
            field: 'id',
            title: 'ID',
            sortable: true    // 是否排序
        }, {
            field: 'title',
            title: '标题'
        }, {
            field: 'outline',
            title: '概括'
        }, {
            field: 'area_id',
            title: '分类'
        }, {
            field: 'create_time',
            title: '时间',
        }, {
            field: 'operate',
            title: '操作',
            formatter: btnGroup,  // 自定义方法
            events: {
                'click .edit-btn': function (event, value, row, index) {
                    editUser(row.id);
                },
                'click .del-btn': function (event, value, row, index) {
                    delUser(row.id);
                }
            }
        }],
        onLoadSuccess: function (data) {
            $("[data-toggle='tooltip']").tooltip();
        }
    });

    // 操作按钮
    function btnGroup() {
        let html =
            '<a href="#!" class="btn btn-xs btn-default m-r-5 edit-btn" title="恢复" data-toggle="tooltip"><i class="mdi mdi-backup-restore"></i></a>' +
            '<a href="#!" class="btn btn-xs btn-default del-btn" title="删除" data-toggle="tooltip"><i class="mdi mdi-window-close"></i></a>';
        return html;
    }

    // 操作方法 - 删除
    function delUser(id) {
        del(id);
    }
    
    function editUser(id) {
        back(id);
    }

    function back(id) {
        $.post("{:url('back')}", {
            id: id,
        }, function (res) {
            if (res.code == 200) {
                showNotify('成功~', 'success');
            } else {
                showNotify(res.msg, 'danger');
            }
        }, 'json')
    }
    
    function del(id) {
        $.post("{:url('art_del')}", {
            id: id,
        }, function (res) {
            if (res.code == 200) {
                showNotify('添加成功~', 'success');
            } else {
                showNotify(res.msg, 'danger');
            }
        }, 'json')
    }
</script>